@import url("https://fonts.googleapis.com/css2?family=VT323&family=Space+Mono&display=swap");

:root {
  background-color: #050208;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Space Mono", monospace;
  color: $text-color;
}

@font-face {
  font-family: 'GothicByte';
  src: url('/fonts/GothicByte.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
