@use "../../styles/variables" as *;

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-content {
  flex: 1;
  color: $text-color;
  text-align: center;

  h2 {
    font-family: "GothicByte", monospace;
    color: $cyan-accent;
    text-shadow: 0 0 10px $cyan-accent;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }
}

.home-eye {
  width: 100%;
  display: flex;
  justify-content: center;
}

